<%= render partial: "partials/back_button", locals: { text: "Back", path: measurements_path } %>

<div class="container my-5 title" style="max-width: 1000px">
    <h1 class="text-center">Measured <%= distance_of_time_in_words(Time.now - @measurement.measured_at) %> ago</h1>
    <div class="row">
        <% for y in 0..2 do %>
            <div class="col-4">
                <table class="table blue-text">
                    <thead>
                        <tr>
                            <th scope="col">Measurement</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for x in 0..@per_col - 1 do %>
                            <% index = y * @per_col + x %>
                            <tr>
                                <% name = Measurement::measurement_name Measurement::MEASUREMENT_KEYS[index] %>
                                <td class="text-truncate" title="<%= name %>"><%= name %></td>
                                <% data = @measurement[Measurement::MEASUREMENT_KEYS[index]] %>
                                <% if data.present? %>
                                    <td><%= data.round(2) %></td>
                                <% else %>
                                    <td>NaN</td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>
    <hr>
    <div class="text-center mb-2">
        <h1 class="my-3">Image</h1>
        <% if @measurement.sky_capture.attached? %>
            <%= image_tag @measurement.sky_capture, width: "98.5%" %>
        <% else %>
            <h3 class="text-center">Image not available yet</h3>
        <% end %>
    </div>
</div>