<div class="container my-4" style="max-width: 1000px">
    <h1 class="text-center">
        <% time = convert_time @measurement.measured_at %>
        <% if time.today? %>
            <%= time.strftime("%H:%M") %>
        <% else %>
            <%= time.strftime("%d %B %Y - %H:%M") %>
        <% end %>
    </h1>
    <div class="row">
        <% for y in 0..2 do %>
            <div class="col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Measurement</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for x in 0..@per_col - 1 do %>
                            <% index = y * @per_col + x %>
                            <% next if index >= Measurement::MEASUREMENT_KEYS.length %>
                            <tr>
                                <% name = Measurement::measurement_name Measurement::MEASUREMENT_KEYS[index] %>
                                <td title="<%= name %>"><%= name %></td>
                                <% key = Measurement::MEASUREMENT_KEYS[index] %>
                                <% if key == :cloud_status %>
                                    <% if @measurement.cloud_status.present? %>
                                        <td><%= tg "cloud_status.#{@measurement.cloud_status}" %></td>
                                    <% else %>
                                        <td>N/D</td>
                                    <% end %>
                                <% else %>
                                    <td><%= @measurement.round(key, "NaN") %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>
    <hr>
    <div class="text-center mb-2">
        <h1 class="my-3">Image</h1>
        <% if @measurement.sky_capture.attached? %>
            <%= image_tag @measurement.sky_capture, width: "98.5%" %>
        <% else %>
            <h3 class="text-center">Image not available yet</h3>
        <% end %>
    </div>
</div>