<%= render partial: "partials/back_button", locals: { text: "Back", path: root_path } %>

<div class="container text-center">
    <h1 class="title my-4">Graphs for different measurements</h1>
    <div class="row">
        <% for x in 0..3 do %>
            <div class="col-md-3">
                <% for y in 0..@per_col - 1 do %>
                    <% key = Measurement::MEASUREMENT_KEYS[x * @per_col + y] %>
                    <%= link_to graph_path(measurement: key), class: "link-card" do %>
                        <h3 class="text-truncate" title="<%= Measurement::measurement_name key %>" ><%= Measurement::measurement_name key %></h3>
                        <%= line_chart Measurement::data_for(Measurement::created_at_most(24.hours.ago), key), points: false, height: "250px" %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
