<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @title if @title.present? %>
      <%= "MeteoSelti" unless @title.present? %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag @favicon %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>" data-controller="feather">
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/language_toast" %>
    <%= render partial: "layouts/time_zone" %>

    <%= yield %>
  </body>
</html>
